*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container,
.btn-start{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.btn-start{
    background-color:#cfa5b4;
    border-radius:20px;
    width:250px;
    text-align:center;
}
.container.active{
    opacity: 1;
    pointer-events: auto;
    width:600px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.container{
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}
.timer{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 15px;
}
.container div .timer{
    display:flex;
    background:#b1a7a6;
    color:#fff;
    font-size:14px;
    padding:6px;
    border-radius:5px;
}
.container div .timer .time-text{
    font-size: 16px;
}
.container div .timer .time-second{
    background:#ba181b;
    border-radius:2.5px;
    padding:3px;
    width:47px;
    text-align:center;
}
#reload{
    position: absolute;
    right: 15px;
    top: 10px;
}
#next.passive,
#pre.passive,
#finish,
.btn-start.passive{
    opacity: 0;
    pointer-events: none;
}
#next,
#finish.show{
    position: absolute;
    right: 25px;
    opacity:1;
    pointer-events: auto;
}

ul{
    list-style-type: none;
}
li{
    padding:1rem;
}

